## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs

## Publish output
publish/
*.pubxml.user

## NuGet packaging output
nupkg/
*.nupkg

## OS
.DS_Store
Thumbs.db
desktop.ini

## IDE
.idea/
.vscode/
*.swp
